/////////////////////////
/* FORM */
/////////////////////////

.form {
  @include responsive(phone) {
    padding: 3rem 0;
  }

  &__text {
    width: 68%;
    margin: 3.5rem 0;

    @include responsive(phone) {
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;

    @include responsive(phone) {
      flex-direction: column;
      align-items: unset;
    }
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    padding: 1.5rem 1rem;
    border-radius: 8px;
    border: 2px solid transparent;
    flex: 0 0 60%;
    margin-right: 4rem;
    cursor: pointer;

    &:focus {
      border: 2px solid var(--pink);
    }

    @include responsive(phone) {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }

  &__label {
    position: absolute;
    bottom: -45%;
    left: 2%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    color: var(--pink);

    @include responsive(phone) {
      bottom: 23%;
    }
  }

  &__input:invalid ~ &__label {
    opacity: 1;
    visibility: visible;
  }
}
