/////////////////////////
/* HEADER */
/////////////////////////

.header {
  padding: 6rem 8rem;
  padding-bottom: 0;

  @include responsive(phone) {
    padding: 2rem;
  }

  &__nav {
    @include frow;
  }

  &__text-box {
    margin-top: 15rem;
    margin-bottom: 10rem;
    @include fcolumn;

    @include responsive(phone) {
      margin: 10rem 0;
    }
  }

  &__text {
    width: 42%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3.5rem;

    @include responsive(tab-port) {
      width: 100%;
    }
  }
}
