/////////////////////////
/* CSS VARIABLES */
/////////////////////////

:root {
  --fprimary: "Open Sans", sans-serif;
  --fsecondary: "Poppins", sans-serif;

  --pink: hsl(322, 100%, 66%);
  --lpink: hsl(321, 100%, 78%);
  --lred: hsl(0, 100%, 63%);
  --dcyan: hsl(192, 100%, 9%);
  --lblue: hsl(207, 100%, 98%);
}
